Support EDDSA key material

Currently only RSA and ECDSA schems are accepted. EDDSA keys such as ED25519 or ED448 shall also be accepted.

RFC 8446, Section 1:
```
   -  Authentication: The server side of the channel is always
      authenticated; the client side is optionally authenticated.
      Authentication can happen via asymmetric cryptography (e.g., RSA
      [RSA], the Elliptic Curve Digital Signature Algorithm (ECDSA)
      [ECDSA], or the Edwards-Curve Digital Signature Algorithm (EdDSA)
      [RFC8032]) or a symmetric pre-shared key (PSK).
``` 

Seems to work fine with TLS 1.3, but with TLS 1.2 there is still the issue with KEY_ECDSA in the cipher suites.